App.css


*{
  font-family: 'Times New Roman', Times, serif;
}

.headings{
  display: flex;
    justify-content: space-between;
}
#event{
  background-color:rgb(127, 225, 255);
}


#btn{
  justify-content: center;
  background-color: blue;
}